@model IEnumerable<Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<main role="main" class="main-content">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12">
              <h2 class="mb-2 page-title">All Posts</h2>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables" id="dataTable-1">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Caption</th>
                            <th>Created At</th>
                            <th>Post Image</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            @foreach(var post in Model)
                            {
                                <tr>
                                    <td>@post.Id</td>
                                    <td>@post.User.Name</td>
                                    <td>@post.Caption</td>
                                    <td>@post.CreatedAt</td>
                                    <td><img class="img-w" src="~/images/@post.ImagePath" /></td>
                                    <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="text-muted sr-only">Action</span>
                                      </button>
                                      <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Edit</a>
                                        <a class="dropdown-item" href="#">Remove</a>
                                        @* <a class="dropdown-item" href="#">Assign</a> *@
                                        <form asp-action="Approve" method="post">
                                            <input type="hidden" name="postId" value="@post.Id" />
                                            <button class="dropdown-item" type="submit">Approve</button>
                                        </form>
                                      </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main>