@model DreamWedding.Models.Reels

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReelsVideo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReelsVideo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Captions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Captions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReelsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
